/* .nav :hover{
    cursor: pointer;
} */



.link{
    width: 100%;
}

.news{
    font-size: 50px;
    font-weight: 50px;
}

/* .country:hover{
    border-bottom: 2px solid #fff;
    color: #435;
} */

/* video{
    width: 870px;
height: 400px;
flex-shrink: 0;
} */