.double-btn{
    display: flex;
    justify-content: space-between;
}
.btn-back{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    background-color: azure;
}
.logout-btn{
    border: 0;
    outline: 0;
    width: 100px;
    height: 50px;
    background-color: azure;
    margin: 5px;
}
.forum-page{
    background: #d8c3f4;
}

.discuss-area{
    width: 860.2px;
    flex-shrink: 0;
    background: var(--Base-Light-Gray, #F6F8FD);
    border-radius: 3px;
    box-shadow: 4px 10px 10px 2px rgba(0, 0, 0, 0.12); 
}
.chat-icon:hover{
    cursor: pointer;
    color: blue;
}
.like-icon:hover{
    cursor: pointer;
    color: blue;
}
.post{
    padding: 11.947px;
    border-radius: 5.974px;
    background: #f6f6f6FF;
    margin: 10px 5px;

}

.btn-post{
    border-radius: 70px;
    width: 50px;
    height: 50px;
    border: 0;
    outline: 0;
    background: #555cde;
    color: #FFF;
}

.form-field{
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field .text{
    color: var(--Base-Mid-Gray, #7A757D);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0;
    outline: 0;
    border-radius: 10px;
    width: 70%;
}



.post-wrapper{
    box-shadow: 4px 10px 10px 2px rgba(0, 0, 0, 0.12); 
    margin: 10px;
    background: #FFF;

}
.post-header{
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 5.97px;
    gap: 11.974px;
    padding: 0 5px;
    justify-content: space-between;
    
}
.user-info{
    display: flex;
    gap: 10px;
}

.avatar{
    width: 33.452px;
    height: 33.452px;
    border-radius: 50%;

}
.timer{
    color: var(--Base-Mid-Gray, #7A757D);
font-size: 10.752px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-items: flex-end;
}

.delete-icon{
    text-align: center;
    margin: 5px 10px;
}
.delete-btn-container {
    position: relative;
  }

.delete-btn :hover{
    cursor: pointer;
}

.toolbin{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.delete-btn-container:hover .toolbin{
    visibility: visible;
    opacity: 1;
}

.post-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
}

.icon-holder{
    gap: 20px;
    display: flex;
    align-items: center;
    border-top: 0.3px solid gray;
    padding: 10px;
    margin: 0 5px;
}

.comments{
    width: 100%;
}

.comment{
    align-items: center;
    padding: 15px 3px;
}

.user-comment{
    display: flex;
    gap: 7px;
    
}

.comment-post{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
   
}

.like-reply{
    display: flex;
    gap: 20px;
}

.like{
    border: 0;
    outline: 0;
    background-color: #F6F8FD;

}

.reply{
    border: 0;
    outline: 0;
    background-color: #F6F8FD;
}
.comment-btn{
    width: 50px;
    height: 50px;
    border-radius: 9px;
    background: #555cde;
    border: 0;
    outline: 0;
    margin-left: 50px;
    color: #FFF;
}

.comment-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    border: 0;
    outline: 0;
    border-radius: 10px;
    width: 70%;
}

