body{
    /* background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg); */
    /* background: #453; */
}
.signUp{
    /* border: 1px solid #555; */
    margin: auto;
    /* justify-content: center; */
    align-items: center;
    /* width: 50px; */
    height: 500px;
    background-color:#fcfcfc;
}

.signup-form{
    align-items: center;
    text-align: center;
    /* padding: 10px; */
}

.signUp h2{
    text-align: center;
    font-weight: 100;
    /* font-style: oblique; */
}

.signUp label{
    align-items: center;
    gap: 10px;
    /* margin-left: 20px; */
}

.signUp label input{
    margin-bottom: 15px;
    /* width: 300px; */
}
/* .signUp form{
    gap: 10px;
    background-color: rgb( #fcfc47, #555cde, #d45e83);
} */

/* .signUp select{
    width: 300px;
    margin-bottom: 15px;
} */
.form-butn{
    /* align-items: center; */
    width: 100px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    height: 50px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-self: center; */
    background-color: #555cde;

    color: #fcfcfc;

}

.acc-switch{
    text-align: center;
    text-decoration: none;
}
.form-btn{
    align-items: center;
    /* margin-top: 20px;s */
    text-align: center;
}
.profile-pix{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
}

.join-btn{
    width: 100px;
    height: 50px;
    border: 0;
    background: orangered;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;

}